.login-main {
  background-color: var(--block-bg);
  width: 45%;
  height: 450px;
  border-radius: 12px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.login-main-form,
.login-main-banner {
  flex: 1;
}

.login-main-banner {
  animation: login 8s ease infinite;
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #61677a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23d8d9da' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@keyframes login {
  0% {
    background-position: 0;
  }

  50% {
    background-position: 50%;
  }

  100% {
    background-position: 0;
  }
}

.login-banner-title {
  text-align: center;
  text-shadow: 0 10px 20px rgba(0, 0, 0, .75);
  font-size: 44px;
  position: relative;
  padding: 5px 10px;

}

.login-banner-title::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--border-bg);
  height: 3px;
  width: 100%;
  transform: scaleX(.5);
  transform-origin: left;
  animation: TitleBorderAnimation 3s ease infinite;
}

@keyframes TitleBorderAnimation {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    transform: scaleX(.5);
    transform-origin: center;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.login-main-title {
  color: var(--text);
}

.login-main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.login-main-form label:first-child {
  margin: 120px 0 0;
}

.login-main-form label {
  margin: 40px 0 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--border-bg);
}

.login-main-form input:not([type="submit"]) {
  padding: 5px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: var(--bg);
  color: var(--text);
  font-size: 18px;
  width: 45ch;
  font-weight: 700;
}

.login-main-form input[type="submit"] {
  width: 40%;
  margin: auto;
  font-size: 24px;
  border-radius: 12px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: var(--bg);
  color: var(--text);
  cursor: pointer;
  transition: all 500ms ease-in-out;
  margin-top: 20px;
  text-wrap: wrap;
}

.login-main-form input[type="submit"]:hover {
  background-color: var(--text);
  color: var(--bg);
}

@media (max-width: 1350px) {
  .login-main {
    flex-direction: column;
  }

  .login-main-banner {
    flex: 1;
  }

  .login-main-form {
    align-items: center;
    flex: 1;
  }

  .login-main-form label:first-child {
    margin: 10px 0 0;
  }
}

@media (max-width: 1000px) {
  .login-main {
    width: 65%;
  }
}

@media (max-width: 700px) {
  .login-main {
    width: 100%;
  }

  .login-main-form input:not([type="submit"]) {
    width: 70%;
  }
}